:root {
  --primary-color: #000;
  --secondary-color: #fff;
  --grad-light: #c4f0ff;
  --grad-dark: #00bfff;
  --input-toggle: #00bfff;
  --input-location: #38cdff;
  --border-color: #0083ae;
  --drop-shadow: drop-shadow(0 2px 6px rgba(0, 0, 0, 0.3));
  --transition-in: all 0.2s ease-out;
  --transition-out: all 0.2s ease-in;
  --text-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
  --box-shadow-inset: inset 0 4px 6px rgba(0, 0, 0, 0.3);
  --inset-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.4);
  --border: 1px solid #7cb8f5;
}
html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #0074d5 #000;
  font-weight: 300;
  background-color: #000;
  background: linear-gradient(to bottom, var(--grad-dark), var(--grad-light));
}
html.dark {
  --primary-color: #fff;
  --secondary-color: #000;
  --grad-dark: #12181e;
  --grad-light: #2f3f4f;
  --input-toggle: #171f27;
  --input-location: #283644;
  --border-color: #7cb8f5;
  --border: 1px solid #2f3f4f;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-family: 'Encode Sans', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  user-select: none;
  overflow: auto;
  -webkit-font-smoothing: antialiased;
  animation: fadeInAnimation 2s ease-out 1 forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
html::-webkit-scrollbar {
  display: none;
}

ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
  font-weight: 300;
  color: inherit;
}
/* MobileFirst ************ */

/* .toggle:focus {
  outline: none;
} */
main {
  height: 100vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: clamp(0.4rem, 3vw, 1rem);
}
.themer {
  margin: 3rem auto;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--input-location);
  border: 1px solid var(--border);
  box-shadow: var(--box-shadow-inset);
  -webkit-tap-highlight-color: transparent;
  transition: var(--transition-out);
}

.slider:before {
  position: absolute;
  content: '';
  height: 44px;
  width: 44px;
  left: -10px;
  bottom: 4px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  background: #cfebf9 url('sun1.png') no-repeat center;
  background-size: contain;
  filter: var(--drop-shadow);
  transition: var(--transition-out);
}

input:checked + .slider {
  background-color: var(--input-location);
}

input:checked + .slider:before {
  -webkit-transform: translateX(35px);
  -ms-transform: translateX(35px);
  transform: translateX(35px);
  background: #12252d url('Moon.png') no-repeat center;
  background-size: contain;
  filter: var(--drop-shadow);
}

/* Rounded sliders */
.slider.round {
  border-radius: 2rem;
}
.slider.round:before {
  border-radius: 50%;
}

.clock-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem auto 2rem;
}

.clock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  border: solid 3px #f6a800;
  position: relative;
  filter: var(--drop-shadow);
  box-shadow: var(--box-shadow-inset);
}

.hours {
  background-color: var(--primary-color);
}
#hours-hand {
  position: absolute;
  height: 64px;
  right: 116px;
  bottom: 118px;
  width: 4px;
  border-radius: 16px;
  filter: var(--drop-shadow);
  transition: var(--transition-in);
  transform-origin: bottom;
}
.minutes {
  background-color: var(--primary-color);
}
#minutes-hand {
  position: absolute;
  height: 105px;
  right: 116px;
  bottom: 118px;
  width: 2px;
  border-radius: 3px;
  filter: var(--drop-shadow);
  transform-origin: bottom;
  transition: var(--transition-in);
}
#seconds-hand {
  position: absolute;
  height: 105px;
  right: 116px;
  bottom: 116px;
  width: 2px;
  background-color: #ff6600;
  filter: var(--drop-shadow);
  transform-origin: bottom;
  z-index: 1;
  transition: var(--transition-in);
}
#center {
  background-color: #ff6600;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  filter: var(--drop-shadow);
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
#center::after {
  content: '';
  background-color: var(--primary-color);
  width: 5px;
  height: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  transition: var(--transition-in);
}
.digital-clock {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem auto 0;
  text-shadow: var(--text-shadow);
}

.time {
  font-size: clamp(2rem, 4vw, 3rem);
  font-weight: 300;
  letter-spacing: 6px;
}

.date {
  font-size: clamp(1.3rem, 3vw, 2.2rem);
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-bottom: 0.2rem;
  transition: var(--transition-in);
}

.date .circle {
  background-color: var(--primary-color);
  color: #ff6600;
  border-radius: 50%;
  font-weight: 500;
  padding: clamp(0.2rem, 1vw, 0.5rem);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(1.3rem, 2.4vw, 2.2rem);
  margin: 0.2rem 0;
  filter: var(--drop-shadow);
  transition: var(--transition-in);
}

nav {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-top: -5px;
  width: 100%;
}

nav ul {
  background-color: var(--grad-dark);
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 60px;
}

nav li {
  color: var(--primary-color);
  cursor: pointer;
  flex: 1;
  padding: 10px;
  text-align: center;
  transition: var(--transition-out);
}

nav ul li p {
  font-family: Encode, sans-serif;
  font-weight: 300;
  font-size: 14px;
  margin: 2px 0;
}

nav ul li:hover,
nav ul li a.active {
  color: var(--border-color);
  transition: var(--transition-in);
}

@media screen and (min-width: 1200px) {
  .date .circle {
    margin: 0.4rem 0;
  }
  .clock {
    margin: 0 auto 2rem;
    height: 19rem;
    width: 19rem;
  }
  #hours-hand {
    height: 80px;
    right: 147px;
    bottom: 147px;
  }
  #minutes-hand {
    height: 135px;
    right: 149px;
    bottom: 149px;
  }
  #seconds-hand {
    height: 135px;
    right: 149px;
    bottom: 149px;
  }
  .digital-clock {
    margin: 4rem auto 0;
  }
}
