@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

.edit-mode {
  color: #ccc;
}
#item-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: min(40ch, 100%);
  max-width: 30rem;
}
#item-form * {
  -webkit-tap-highlight-color: transparent;
}

/* Form & Input */
.form-input {
  max-width: 100%;
  margin: 1rem 0.4rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: 300;
  color: var(--primary-color);
  background: rgba(255, 255, 255, 0.25);
  border: var(--border);
  border-radius: var(--border-radius);
  outline: none;
  backdrop-filter: blur(8px);
  text-shadow: var(--text-shadow);
  transition: var(--transition-in);
}

.form-input::placeholder {
  color: var(--primary-color);
  font-weight: 200;
  opacity: 0.6;
}

.btn {
  padding: 6px;
  outline: none;
  border-radius: var(--border-radius);
  font-size: 1.2rem;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(8px);
  border: var(--border);
  font-weight: 200;
  text-shadow: var(--text-shadow);
  transition: var(--transition-in);
  cursor: pointer;
}

.btn:hover {
  background: rgba(255, 255, 255, 0.4);
}
.btn:active {
  background: rgba(255, 255, 255, 0.2);
  transform: scale(0.95);
}

.btn .add {
  font-size: 1.8rem;
  color: var(--border-color);
  vertical-align: middle;
}

.btn .pencil {
  font-size: 1.6rem;
  color: #f6a800;
}

.form-input-filter {
  width: min(35ch, 100% - 1rem);
  font-size: 18px;
  padding: 8px 22px;
  color: var(--primary-color);
  font-weight: 200;
  border: none;
  border-bottom: var(--border);
  border-radius: var(--border-radius);
  background: rgba(255, 255, 255, 0.25);
  outline: none;
  margin: 0 auto 1rem;
}
.form-input-filter::placeholder {
  color: var(--primary-color);
  font-weight: 200;

  text-shadow: var(--text-shadow);
  opacity: 0.5;
}

.btn-link {
  font-size: 16px;
  background-color: transparent;
  color: var(--primary-color);
  text-shadow: var(--text-shadow);
  border: none;
  padding: 0;
  cursor: pointer;
}

.text-red {
  color: red;
}

/* Items */

.items {
  width: min(60ch, 100% - 1rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0.4rem;
}

.items li {
  display: flex;
  justify-content: space-between;
  width: min(40ch, 100% - 1rem);
  margin: 4px 0;
  font-weight: 200;
  padding: 0.6rem 2rem;
  border-radius: var(--border-radius);
  color: var(--primary-color);
  text-shadow: var(--text-shadow);
  background: rgba(255, 255, 255, 0.25);
  border: var(--border);
  backdrop-filter: blur(8px);
  transition: var(--transition-in);
}
.btn-clear {
  width: min(40ch, 100% - 1rem);
  margin-inline: auto;
  margin-top: 0.6rem;
  font-weight: 200;
  padding: 0.8rem 0;
  border-radius: var(--border-radius);
  color: var(--primary-color);
  text-shadow: var(--text-shadow);

  background-color: var(--grad-dark);
  border: var(--border);
  cursor: pointer;
  transition: var(--transition-out);
}

.btn-clear:hover {
  background: rgba(255, 255, 255, 0.25);
  transition: var(--transition-in);
}

@media (max-width: 500px) {
}
