:root {
  --primary-color: #000;
  --secondary-color: #fff;
  --grad-light: #c4f0ff;
  --grad-dark: #00bfff;
  --input-toggle: #00bfff;
  --input-location: #38cdff;
  --border-color: #0070b6;
  --drop-shadow: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2));
  --transition-in: all 0.2s ease-out;
  --transition-out: all 0.4s ease-in;
  --text-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
  --box-shadow-inset: inset 0 2px 3px rgba(0, 0, 0, 0.3);
  --inset-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.4);
  --border: 1px solid #7cb8f5;
  --border-radius: 0.3rem;
}
html {
  scroll-behavior: smooth;
  font-weight: 300;
  background-color: #000;
  background: linear-gradient(to bottom, var(--grad-dark), var(--grad-light));
}
.dark {
  --primary-color: #fff;
  --secondary-color: #000;
  --grad-dark: #12181e;
  --grad-light: #2f3f4f;
  --input-toggle: #171f27;
  --input-location: #283644;
  --border-color: #7cb8f5;
  --border: 1px solid #2f3f4f;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 1px;
  user-select: none;
  overflow: auto;
  -webkit-font-smoothing: antialiased;
  animation: fadeInAnimation 2s ease-out 1 forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
html::-webkit-scrollbar {
  display: none;
}

main {
  min-height: 100%;
  width: min(620px, 100% - 1rem);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-inline: auto;
  overflow: hidden;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  hyphens: auto;
  text-align: justify;
  font-weight: 300;
  text-shadow: var(--text-shadow);
}
ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
  font-weight: 300;
  color: inherit;
  font-family: inherit;
}
/* MobileFirst ************ */

.themer {
  margin: 3rem auto 2rem;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch #toggle {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--input-location);
  border: 1px solid var(--border);
  box-shadow: var(--box-shadow-inset);
  -webkit-tap-highlight-color: transparent;
  transition: var(--transition-out);
}

.slider:before {
  position: absolute;
  content: '';
  height: 55px;
  width: 55px;
  left: -10px;
  bottom: 4px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  background: transparent url('../Moon.png') no-repeat center;
  background-size: contain;
  filter: var(--drop-shadow);
  transition: var(--transition-in);
}

#toggle:checked + .slider {
  background-color: var(--input-location);
}

#toggle:checked + .slider:before {
  -webkit-transform: translateX(35px);
  -ms-transform: translateX(35px);
  transform: translateX(35px);
  height: 60px;
  width: 60px;
  background: transparent url('../sun1.png') no-repeat center;
  background-size: contain;
  filter: var(--drop-shadow);
}

/* Rounded sliders */
.slider.round {
  border-radius: 2rem;
}
.slider.round:before {
  border-radius: 50%;
}

nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1;
}

nav ul {
  background-color: var(--grad-dark);
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 60px;
}

nav li {
  color: var(--primary-color);
  cursor: pointer;
  flex: 1;
  padding: 10px;
  text-align: center;
  transition: var(--transition-out);
}

nav li .material-symbols-outlined {
  padding-top: 0.3rem;
  text-decoration: none;
  color: var(--primary-color);
  font-size: 2rem;
  font-weight: 200;
  transition: var(--transition-in);
}

nav ul li:hover .material-symbols-outlined,
nav ul li a.active .material-symbols-outlined {
  color: var(--border-color);
  transition: var(--transition-in);
  animation: pulse 3s infinite;
}
@keyframes pulse {
  0% {
    font-variation-settings: 'wght' 100;
  }
  50% {
    font-variation-settings: 'wght' 700;
  }
  100% {
    font-variation-settings: 'wght' 100;
  }
}
