.form {
  width: min(500px, 100%);
  height: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.4rem 0.6rem;
}
.input-size {
  max-width: min(400px, 100%);
  padding: 0.6rem 1rem;
  font-weight: 300;
  outline: none;
  border-radius: 0.3rem;
  font-size: 1.2rem;
  margin: 1rem 0.4rem;
  color: var(--primary-color);
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: var(--transition-in);
}
input::placeholder {
  color: var(--primary-color);
  font-weight: 200;
}
input:focus {
  border: 1px solid var(--primary-color);
  outline: none;
}
.actions {
  max-width: min(400px, 100%);
  padding: clamp(0.2rem, 2vw, 0.6rem);
  margin: 1rem 0.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.actions * {
  -webkit-tap-highlight-color: transparent;
}
.dateInput {
  width: 10rem;
  height: 2.4rem;
  background: var(--input-toggle);
  font-size: clamp(1rem, 2vw, 1.2rem);
  border-radius: 3rem;
  padding: 0 0.6rem;
  margin-right: 1rem;
  border: var(--border);
  color: var(--primary-color);
  cursor: pointer;
  transition: all 0.2s ease-out;
}

input[type='date']::-webkit-calendar-picker-indicator {
  filter: invert(1);
  margin: 0px;
  /* margin-right: 20px !important; */
}

#save {
  position: relative;
  width: 2.4rem;
  height: 2.4rem;
  background: var(--input-toggle);
  font-size: clamp(1rem, 2vw, 1.4rem);
  border-radius: 3rem;
  padding: 0.4rem;
  border: var(--border);
  cursor: pointer;
  font-weight: lighter;
  transition: all 0.2s ease-out;
}
#save span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #08ff08;
  font-size: 1.6rem;
  filter: var(--drop-shadow);
}
.success,
.error {
  max-width: fit-content;
  text-align: center;
  padding: clamp(0.2rem, 2vw, 0.6rem) 1rem;
  border-radius: 3rem;
  margin: 0.4rem auto;
  border: var(--border);
  /* filter: var(--drop-shadow); */
}
.success {
  background-color: var(--input-toggle);
  color: var(--primary-color);
}
.error {
  background-color: #e10600;
  color: #fff;
}

.delete {
  text-decoration: none;
  font-size: clamp(1rem, 2vw, 1.4rem);
}

.table {
  max-width: 90vw;
  margin: 0 auto;
  color: var(--primary-color);
  border-collapse: collapse;
  overflow: scroll;
}
.table * {
  font-weight: 300;
  letter-spacing: 1px;
}
.table th {
  text-align: left;
  font-size: clamp(1.2rem, 3vw, 1.4rem);
  text-shadow: var(--text-shadow);
}
.table td {
  text-align: left;
  font-size: clamp(0.8rem, 3vw, 1rem);
  text-shadow: var(--text-shadow);
}

.table th:first-of-type,
.table td:first-of-type {
  width: 70%;
}
.table th:nth-child(2),
.table td:nth-child(2) {
  width: 25%;
}
.table th:last-child,
.table td:last-child {
  text-align: center;
  width: 5%;
}
.todo-list {
  font-weight: 100;
}

.trash {
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: center;
}
.trash span {
  vertical-align: middle;
  color: #e10600;
  font-size: 1.6rem;
  padding-top: 2px;
  filter: var(--drop-shadow);
}

@media screen and (max-width: 600px) {
  table {
    max-width: 100vw;
    padding: 0;
  }
  .table th:first-of-type,
  .table td:first-of-type {
    width: 60%;
  }
  .table th:nth-child(2),
  .table td:nth-child(2) {
    width: 30%;
  }
  .table th:last-child,
  .table td:last-child {
    text-align: center;
    max-width: 10%;
  }
}
