.form {
  width: min(330px, 100%);
  height: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
}
.input-size {
  max-width: 320px;
  padding: 0.6rem 1rem;
  color: var(--primary-color);
  font-weight: 300;
  border: var(--border);
  outline: none;
  border-radius: 0.3rem;
  font-size: 1.2rem;
  margin-bottom: 0.6rem;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: var(--transition-in);
}
input::placeholder {
  color: var(--primary-color);
  font-weight: 200;
}
input:focus {
  border: 1px solid var(--primary-color);
  outline: none;
}
.actions {
  width: min(23rem, 100%);
  padding: clamp(0.2rem, 2vw, 0.6rem);
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  vertical-align: middle;
}
.actions * {
  -webkit-tap-highlight-color: transparent;
}
.dateInput {
  width: 10rem;
  height: 2.4rem;
  background: var(--input-toggle);
  font-size: clamp(1rem, 2vw, 1.5rem);
  border-radius: 3rem;
  padding: 0 0.6rem;
  border: var(--border);
  /* filter: var(--drop-shadow); */
  cursor: pointer;
  transition: all 0.2s ease-out;
}

input[type='date']::-webkit-calendar-picker-indicator {
  filter: invert(1);
  margin: 0px;
  /* margin-right: 20px !important; */
}

#submit {
  width: 2.4rem;
  height: 2.4rem;
  background: var(--input-toggle);
  font-size: clamp(1rem, 2vw, 1.5rem);
  border-radius: 3rem;
  padding: 0.4rem;
  border: var(--border);
  cursor: pointer;
  /* filter: var(--drop-shadow); */
  transition: all 0.2s ease-out;
}
.fa-highlighter {
  font-size: 1.4rem;
  color: var(--primary-color);
}
.success,
.error {
  max-width: fit-content;
  text-align: center;
  padding: clamp(0.2rem, 2vw, 0.6rem) 1rem;
  border-radius: 3rem;
  margin: 0.4rem auto;
  border: 1px solid #fff;
  /* filter: var(--drop-shadow); */
}
.success {
  background-color: var(--input-toggle);
  color: var(--primary-color);
}
.error {
  background-color: #e10600;
  color: #fff;
}

.delete {
  text-decoration: none;
  font-size: clamp(1rem, 2vw, 1.4rem);
  /* margin-left: auto; */
  /* text-align: right; */
}

.table {
  width: 100%;
  margin: 0 auto;
  color: var(--primary-color);
  border-collapse: collapse;
  overflow: scroll;
}
.table * {
  font-weight: 300;
  letter-spacing: 1px;
}
.table th {
  text-align: left;
  font-size: clamp(1.2rem, 3vw, 1.6rem);
  text-shadow: var(--text-shadow);
}
.table td {
  text-align: left;
  font-size: clamp(1rem, 3vw, 1.2rem);
  text-shadow: var(--text-shadow);
}

.table th:last-child,
.table td:last-child {
  text-align: center;
  width: 10%;
}
.table th:nth-child(2),
.table td:nth-child(2) {
  width: 20%;
}
.table th:first-of-type,
.table td:first-of-type {
  width: 70%;
}
.todo-list {
  font-weight: 100;
}

.fa-trash-alt {
  color: red;
}

@media screen and (max-width: 600px) {
  table {
    width: 100%;
  }
  .table th:first-of-type,
  .table td:first-of-type {
    width: 55%;
  }
  .table th:nth-child(2),
  .table td:nth-child(2) {
    width: 30%;
  }
}
